@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .capsule {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
}